

.theme-icon {
  color: $dark-pink;
  border: none;
  font-size:1.3rem;
     padding-bottom: 0.3rem;
  display: block;
  text-shadow: none;
  margin: 0 auto;
}

.icon-text {
  padding-top: 1rem;
  text-shadow: none;
}
