.ui-page-theme-a .ui-slider-track .ui-btn-active {
  background-color: $dark-pink;
}

.ui-mobile label {
  color: $dark-gray;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.ui-shadow-inset {
 text-shadow: none !important;
 box-shadow: none !important;
}
